# this is the creation of the data for market model 3

### econmic indecator table

In [1]:
import requests
from bs4 import BeautifulSoup as bs
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import desc
import mysql.connector as sql
import pandas as pd
from datetime import datetime as dt
import numpy as np

mydb = create_engine("mysql://Owner:########@localhost/market_database")
df_indecators = pd.read_sql("select * from maket_indicators_table", con = mydb).drop(['index'], axis=1)
df_indecators.head()

,date,year_month,adjusted_unployment,non_adjusted_unployment,cpi,interest_rates
0,1956-01-01,1956-01,4.0,4.7,0.374532,2.50
1,1956-01-02,1956-01,4.0,4.7,0.374532,2.50
2,1956-01-03,1956-01,4.0,4.7,0.374532,2.44
3,1956-01-04,1956-01,4.0,4.7,0.374532,1.25
4,1956-01-05,1956-01,4.0,4.7,0.374532,2.50

### s&p 500 data

In [2]:
df_market = pd.read_sql("select * from market_index_table_quarter", con = mydb)#.drop(['index'], axis=1)
df_market.head()

   index        date        open       close        high         low
0      0  1984-11-30  167.199997  181.179993  183.949997  163.360001
1      1  1985-02-28  181.179993  189.550003  189.979996  176.529999
2      2  1985-05-31  189.550003  188.630005  196.070007  185.029999
3      3  1985-08-31  188.630005  202.169998  203.399994  179.449997
4      4  1985-11-30  202.169998  226.919998  227.919998  200.100006

### merging data

In [3]:
df = pd.merge(df_market, df_indecators, on=['date'], how='inner'
             ).sort_values(by=['index']).drop('index', axis=1).drop_duplicates()

df.head()

,date,open,close,high,low,year_month,adjusted_unployment,non_adjusted_unployment,cpi,interest_rates
0,1984-11-30,167.199997,181.179993,183.949997,163.360001,1984-11,7.2,6.9,4.051383,8.92
1,1985-02-28,181.179993,189.550003,189.979996,176.529999,1985-02,7.2,7.8,3.515625,8.74
2,1985-05-31,189.550003,188.630005,196.070007,185.029999,1985-05,7.2,7.0,3.771760,7.64
3,1985-08-31,188.630005,202.169998,203.399994,179.449997,1985-08,7.1,6.9,3.349282,7.80
4,1985-11-30,202.169998,226.919998,227.919998,200.100006,1985-11,7.0,6.7,3.513770,8.54

### loading data

In [4]:
mydb = create_engine("mysql://Owner:########@localhost/market_database")
df.to_sql(name = 'market_table_3', con = mydb, schema= 'market_database', if_exists = 'replace')

In [5]:
df

,date,open,close,high,low,year_month,adjusted_unployment,non_adjusted_unployment,cpi,interest_rates
0,1984-11-30,167.199997,181.179993,183.949997,163.360001,1984-11,7.2,6.9,4.051383,8.92
1,1985-02-28,181.179993,189.550003,189.979996,176.529999,1985-02,7.2,7.8,3.515625,8.74
2,1985-05-31,189.550003,188.630005,196.070007,185.029999,1985-05,7.2,7.0,3.771760,7.64
3,1985-08-31,188.630005,202.169998,203.399994,179.449997,1985-08,7.1,6.9,3.349282,7.80
4,1985-11-30,202.169998,226.919998,227.919998,200.100006,1985-11,7.0,6.7,3.513770,8.54
5,1986-02-28,226.919998,247.350006,249.190002,222.179993,1986-02,7.2,7.8,3.113208,7.95
6,1986-05-31,246.039993,252.929993,254.240005,231.919998,1986-05,7.2,7.0,1.491146,6.84
7,1986-08-31,252.929993,249.220001,254.130005,228.080002,1986-08,6.9,6.7,1.574074,5.77
8,1986-11-30,249.220001,284.200012,287.549988,241.279999,1986-11,6.9,6.6,1.284404,6.03
9,1987-02-28,284.170013,290.100006,303.649994,275.670013,1987-02,6.6,7.2,2.104300,6.02
10,1987-05-31,290.119995,329.799988,337.890015,286.929993,1987-05,6.3,6.1,3.856749,6.63
11,1987-08-31,329.809998,230.300003,332.179993,216.460007,1987-08,6.0,5.8,4.284412,6.95
12,1987-11-30,230.320007,267.820007,267.820007,221.240005,1987-11,5.8,5.6,4.528986,7.19
13,1988-02-29,267.820007,262.160004,272.640015,248.850006,1988-02,5.7,6.2,3.942652,6.67
14,1988-05-31,262.160004,261.519989,276.880005,256.529999,1988-05,5.6,5.4,3.890363,7.48
15,1988-08-31,261.519989,273.700012,283.950012,256.980011,1988-08,5.6,5.4,4.020979,8.14
16,1988-11-30,273.679993,288.859985,300.570007,270.470001,1988-11,5.3,5.2,4.246101,8.50
17,1989-02-28,288.859985,320.519989,323.059998,286.459991,1989-02,5.2,5.6,4.827586,9.87
18,1989-05-31,320.510010,351.450012,352.730011,314.380005,1989-05,5.2,5.0,5.361702,10.48
19,1989-08-31,351.450012,345.989990,360.440002,327.119995,1989-08,5.2,5.1,4.705882,8.92
20,1989-11-30,346.010010,331.890015,360.589996,319.829987,1989-11,5.4,5.2,4.655029,8.60
21,1990-02-28,331.890015,361.230011,362.260010,327.760010,1990-02,5.3,5.9,5.263158,8.29
22,1990-05-31,361.260010,322.559998,369.779999,306.179993,1990-05,5.4,5.2,4.361874,8.23
23,1990-08-31,322.559998,322.220001,326.529999,294.510010,1990-08,5.7,5.5,5.617978,8.06
24,1990-11-30,322.230011,367.070007,370.959991,309.350006,1990-11,6.2,5.9,6.274821,7.61
25,1991-02-28,367.070007,389.829987,391.260010,363.730011,1991-02,6.6,7.3,5.312500,6.99
26,1991-05-31,389.809998,395.429993,396.820007,367.980011,1991-05,6.9,6.7,4.953560,5.92
27,1991-08-31,395.429993,375.220001,398.220001,371.630005,1991-08,6.9,6.6,3.799392,5.50
28,1991-11-30,375.109985,412.700012,421.179993,371.359985,1991-11,7.0,6.7,2.989537,4.86
29,1992-02-29,412.679993,415.350006,418.750000,392.410004,1992-02,7.4,8.2,2.818991,4.13
...,...,...,...,...,...,...,...,...,...,...
124,2015-11-30,2082.929932,1932.229980,2104.270020,1810.099976,2015-11,5.1,4.8,0.501798,0.08
125,2016-02-29,1937.089966,2096.949951,2111.050049,1937.089966,2016-02,4.9,5.2,1.017800,0.29
126,2016-05-31,2093.939941,2170.949951,2193.810059,1991.680054,2016-05,4.8,4.5,1.019323,0.29
127,2016-08-31,2171.330078,2198.810059,2214.100098,2083.790039,2016-08,4.9,5.0,1.062875,0.30
128,2016-11-30,2200.169922,2363.639893,2371.540039,2187.439941,2016-11,4.7,4.4,1.692537,0.31
129,2017-02-28,2380.129883,2411.800049,2418.709961,2322.250000,2017-02,4.6,4.9,2.737958,0.57
130,2017-05-31,2415.649902,2471.649902,2490.870117,2405.699951,2017-05,4.4,4.1,1.874878,0.83
131,2017-08-31,2474.419922,2647.580078,2657.739990,2446.550049,2017-08,4.4,4.5,1.938974,1.07
132,2017-11-30,2645.100098,2713.830078,2872.870117,2532.689941,2017-11,4.2,3.9,2.202583,1.07
133,2018-02-28,2715.219971,2705.270020,2801.899902,2553.800049,2018-02,4.1,4.4,2.211795,1.35
134,2018-05-31,2718.699951,2901.520020,2916.500000,2691.989990,2018-05,3.8,3.6,2.801012,1.70
135,2018-08-31,2896.959961,2760.169922,2940.909912,2603.540039,2018-08,3.8,3.9,2.699180,1.91
136,2018-11-30,2790.500000,2784.489990,2813.489990,2346.580078,2018-11,3.8,3.5,2.176601,2.20
137,2019-02-28,2798.219971,2752.060059,2954.129883,2722.270020,2019-02,3.8,4.1,1.520135,2.40
138,2019-05-31,2751.530029,2926.459961,3027.979980,2728.810059,2019-05,3.7,3.4,1.790228,2.40
139,2019-08-31,2909.010010,3140.979980,3154.260010,2855.939941,2019-08,3.7,3.8,1.749780,2.13
140,2019-11-30,3143.850098,2954.219971,3393.520020,2855.840088,2019-11,3.6,3.3,2.051278,1.56
141,2020-02-29,2974.280029,3044.310059,3136.719971,2191.860107,2020-02,3.5,3.8,2.334874,1.58
142,2020-05-31,3038.780029,3500.310059,3514.770020,2965.659912,2020-05,13.2,13.0,0.117926,0.05
143,2020-08-31,3507.439941,3621.629883,3645.989990,3209.449951,2020-08,8.4,8.5,1.309645,0.09
144,2020-11-30,3645.870117,3811.149902,3950.429932,3633.399902,2020-11,6.7,6.4,1.174536,0.09
145,2021-02-28,3842.510010,4204.109863,4238.040039,3723.340088,2021-02,6.2,6.6,1.676215,0.07
146,2021-05-31,4216.520020,4522.680176,4537.359863,4164.399902,2021-05,5.8,5.5,4.992707,0.05
147,2021-08-31,4528.799805,4567.000000,4743.830078,4278.939941,2021-08,5.2,5.3,5.251272,0.06
148,2021-11-30,4602.819824,4373.939941,4818.620117,4114.649902,2021-11,4.2,3.9,6.809003,0.07
149,2022-02-28,4363.140137,4132.149902,4637.299805,3810.320068,2022-02,3.8,4.1,7.871064,0.08
150,2022-05-31,4149.779785,3955.000000,4325.279785,3636.870117,2022-05,3.6,3.4,8.581512,0.83
151,2022-08-31,3936.729980,4080.110107,4119.279785,3491.580078,2022-08,3.7,3.8,8.262693,2.33
152,2022-11-30,4087.139893,3829.250000,4100.959961,3764.489990,2022-11,3.6,3.4,7.110323,3.83
153,2022-12-28,3829.560059,3783.219971,3848.320068,3780.780029,2022-12,3.5,3.3,6.500000,4.33

In [6]:
df_market

     index        date         open        close         high          low
0        0  1984-11-30   167.199997   181.179993   183.949997   163.360001
1        1  1985-02-28   181.179993   189.550003   189.979996   176.529999
2        2  1985-05-31   189.550003   188.630005   196.070007   185.029999
3        3  1985-08-31   188.630005   202.169998   203.399994   179.449997
4        4  1985-11-30   202.169998   226.919998   227.919998   200.100006
5        5  1986-02-28   226.919998   247.350006   249.190002   222.179993
6        6  1986-05-31   246.039993   252.929993   254.240005   231.919998
7        7  1986-08-31   252.929993   249.220001   254.130005   228.080002
8        8  1986-11-30   249.220001   284.200012   287.549988   241.279999
9        9  1987-02-28   284.170013   290.100006   303.649994   275.670013
10      10  1987-05-31   290.119995   329.799988   337.890015   286.929993
11      11  1987-08-31   329.809998   230.300003   332.179993   216.460007
12      12  1987-11-30   230.320007   267.820007   267.820007   221.240005
13      13  1988-02-29   267.820007   262.160004   272.640015   248.850006
14      14  1988-05-31   262.160004   261.519989   276.880005   256.529999
15      15  1988-08-31   261.519989   273.700012   283.950012   256.980011
16      16  1988-11-30   273.679993   288.859985   300.570007   270.470001
17      17  1989-02-28   288.859985   320.519989   323.059998   286.459991
18      18  1989-05-31   320.510010   351.450012   352.730011   314.380005
19      19  1989-08-31   351.450012   345.989990   360.440002   327.119995
20      20  1989-11-30   346.010010   331.890015   360.589996   319.829987
21      21  1990-02-28   331.890015   361.230011   362.260010   327.760010
22      22  1990-05-31   361.260010   322.559998   369.779999   306.179993
23      23  1990-08-31   322.559998   322.220001   326.529999   294.510010
24      24  1990-11-30   322.230011   367.070007   370.959991   309.350006
25      25  1991-02-28   367.070007   389.829987   391.260010   363.730011
26      26  1991-05-31   389.809998   395.429993   396.820007   367.980011
27      27  1991-08-31   395.429993   375.220001   398.220001   371.630005
28      28  1991-11-30   375.109985   412.700012   421.179993   371.359985
29      29  1992-02-29   412.679993   415.350006   418.750000   392.410004
..     ...         ...          ...          ...          ...          ...
124    124  2015-11-30  2082.929932  1932.229980  2104.270020  1810.099976
125    125  2016-02-29  1937.089966  2096.949951  2111.050049  1937.089966
126    126  2016-05-31  2093.939941  2170.949951  2193.810059  1991.680054
127    127  2016-08-31  2171.330078  2198.810059  2214.100098  2083.790039
128    128  2016-11-30  2200.169922  2363.639893  2371.540039  2187.439941
129    129  2017-02-28  2380.129883  2411.800049  2418.709961  2322.250000
130    130  2017-05-31  2415.649902  2471.649902  2490.870117  2405.699951
131    131  2017-08-31  2474.419922  2647.580078  2657.739990  2446.550049
132    132  2017-11-30  2645.100098  2713.830078  2872.870117  2532.689941
133    133  2018-02-28  2715.219971  2705.270020  2801.899902  2553.800049
134    134  2018-05-31  2718.699951  2901.520020  2916.500000  2691.989990
135    135  2018-08-31  2896.959961  2760.169922  2940.909912  2603.540039
136    136  2018-11-30  2790.500000  2784.489990  2813.489990  2346.580078
137    137  2019-02-28  2798.219971  2752.060059  2954.129883  2722.270020
138    138  2019-05-31  2751.530029  2926.459961  3027.979980  2728.810059
139    139  2019-08-31  2909.010010  3140.979980  3154.260010  2855.939941
140    140  2019-11-30  3143.850098  2954.219971  3393.520020  2855.840088
141    141  2020-02-29  2974.280029  3044.310059  3136.719971  2191.860107
142    142  2020-05-31  3038.780029  3500.310059  3514.770020  2965.659912
143    143  2020-08-31  3507.439941  3621.629883  3645.989990  3209.449951
144    144  2020-11-30  3645.870117  3811.149902  3950.429932  3633.399902
145    145  2021-02-28  3842.510010  4204.109863  4238.040039  3723.340088
146    146  2021-05-31  4216.520020  4522.680176  4537.359863  4164.399902
147    147  2021-08-31  4528.799805  4567.000000  4743.830078  4278.939941
148    148  2021-11-30  4602.819824  4373.939941  4818.620117  4114.649902
149    149  2022-02-28  4363.140137  4132.149902  4637.299805  3810.320068
150    150  2022-05-31  4149.779785  3955.000000  4325.279785  3636.870117
151    151  2022-08-31  3936.729980  4080.110107  4119.279785  3491.580078
152    152  2022-11-30  4087.139893  3829.250000  4100.959961  3764.489990
153    153  2022-12-28  3829.560059  3783.219971  3848.320068  3780.780029

[154 rows x 6 columns]

In [7]:
df_indecators

,date,year_month,adjusted_unployment,non_adjusted_unployment,cpi,interest_rates
0,1956-01-01,1956-01,4.0,4.7,0.374532,2.50
1,1956-01-02,1956-01,4.0,4.7,0.374532,2.50
2,1956-01-03,1956-01,4.0,4.7,0.374532,2.44
3,1956-01-04,1956-01,4.0,4.7,0.374532,1.25
4,1956-01-05,1956-01,4.0,4.7,0.374532,2.50
5,1956-01-06,1956-01,4.0,4.7,0.374532,2.50
6,1956-01-07,1956-01,4.0,4.7,0.374532,2.50
7,1956-01-08,1956-01,4.0,4.7,0.374532,2.50
8,1956-01-09,1956-01,4.0,4.7,0.374532,2.50
9,1956-01-10,1956-01,4.0,4.7,0.374532,2.44
10,1956-01-11,1956-01,4.0,4.7,0.374532,2.44
11,1956-01-12,1956-01,4.0,4.7,0.374532,2.50
12,1956-01-13,1956-01,4.0,4.7,0.374532,2.50
13,1956-01-14,1956-01,4.0,4.7,0.374532,2.50
14,1956-01-15,1956-01,4.0,4.7,0.374532,2.50
15,1956-01-16,1956-01,4.0,4.7,0.374532,2.50
16,1956-01-17,1956-01,4.0,4.7,0.374532,2.50
17,1956-01-18,1956-01,4.0,4.7,0.374532,2.50
18,1956-01-19,1956-01,4.0,4.7,0.374532,2.50
19,1956-01-20,1956-01,4.0,4.7,0.374532,2.50
20,1956-01-21,1956-01,4.0,4.7,0.374532,2.50
21,1956-01-22,1956-01,4.0,4.7,0.374532,2.50
22,1956-01-23,1956-01,4.0,4.7,0.374532,2.50
23,1956-01-24,1956-01,4.0,4.7,0.374532,2.50
24,1956-01-25,1956-01,4.0,4.7,0.374532,2.50
25,1956-01-26,1956-01,4.0,4.7,0.374532,2.50
26,1956-01-27,1956-01,4.0,4.7,0.374532,2.50
27,1956-01-28,1956-01,4.0,4.7,0.374532,2.50
28,1956-01-29,1956-01,4.0,4.7,0.374532,2.50
29,1956-01-30,1956-01,4.0,4.7,0.374532,2.50
...,...,...,...,...,...,...
24442,2022-12-02,2022-12,3.5,3.3,6.500000,3.83
24443,2022-12-03,2022-12,3.5,3.3,6.500000,3.83
24444,2022-12-04,2022-12,3.5,3.3,6.500000,3.83
24445,2022-12-05,2022-12,3.5,3.3,6.500000,3.83
24446,2022-12-06,2022-12,3.5,3.3,6.500000,3.83
24447,2022-12-07,2022-12,3.5,3.3,6.500000,3.83
24448,2022-12-08,2022-12,3.5,3.3,6.500000,3.83
24449,2022-12-09,2022-12,3.5,3.3,6.500000,3.83
24450,2022-12-10,2022-12,3.5,3.3,6.500000,3.83
24451,2022-12-11,2022-12,3.5,3.3,6.500000,3.83
24452,2022-12-12,2022-12,3.5,3.3,6.500000,3.83
24453,2022-12-13,2022-12,3.5,3.3,6.500000,3.83
24454,2022-12-14,2022-12,3.5,3.3,6.500000,3.83
24455,2022-12-15,2022-12,3.5,3.3,6.500000,4.33
24456,2022-12-16,2022-12,3.5,3.3,6.500000,4.33
24457,2022-12-17,2022-12,3.5,3.3,6.500000,4.33
24458,2022-12-18,2022-12,3.5,3.3,6.500000,4.33
24459,2022-12-19,2022-12,3.5,3.3,6.500000,4.33
24460,2022-12-20,2022-12,3.5,3.3,6.500000,4.33
24461,2022-12-21,2022-12,3.5,3.3,6.500000,4.33
24462,2022-12-22,2022-12,3.5,3.3,6.500000,4.33
24463,2022-12-23,2022-12,3.5,3.3,6.500000,4.33
24464,2022-12-24,2022-12,3.5,3.3,6.500000,4.33
24465,2022-12-25,2022-12,3.5,3.3,6.500000,4.33
24466,2022-12-26,2022-12,3.5,3.3,6.500000,4.33
24467,2022-12-27,2022-12,3.5,3.3,6.500000,4.33
24468,2022-12-28,2022-12,3.5,3.3,6.500000,4.33
24469,2022-12-29,2022-12,3.5,3.3,6.500000,4.33
24470,2022-12-30,2022-12,3.5,3.3,6.500000,4.33
24471,2022-12-31,2022-12,3.5,3.3,6.500000,4.33